<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<table>
  <tr>
    <th>Posts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @post.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= image_tag post.photo.url(:small) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', root_path %>
